// Colors
$grey: #aaa;
$darkGrey: #7c8c8d;
$lightGrey: #d0d2d3;
$darkGreyText: #333e48;
$dividerGrey: #e5e5e5;
$borderGrey: #f0f0f0;
$green: #00b05a;
$lightOrange: #fef8e4;
$orange: #ff9700;
$textGreen: #00b05a;
$errorRed: #d02a27;
$deleteRed: #d02a27;
$pinterestRed: #bd081c;
$selectedYellow: #fdffc9;
$fbBlue: #4267b2;
$twitterBlue: #1da1f2;
$googleRed: #ea4335;
$menuBlue: #009bde;
$textBlue: #007faa;
$textLightBlue: #009de4;
$menuHoverBlue: #ebf7ff;
$pinkHighlight: #c5007e;
$appHeader: #7b105a;
$purple: #9e005d;
$lightPurple: #a556b9;
